<header>
  <div class="header-wrap container ">
    <div class="d-flex align-items-center justify-content-start">
  <img class="" style="width:140px;" src="images/logo.webp"
       alt="Solcrest Logo"
       loading="lazy"
       >
</div>


    <nav>
      <ul id="menu" class="menu-wrapper py-3 m-0">
        <!--<li><a href="#overview"><i class="fa-solid fa-circle-info"></i> Overview</a></li>-->
        <li><a href="#overview" class="fw-bold "><i class="fa-solid fa-circle-info"></i> Overview</a></li>
        <li><a href="#highlights"><i class="fa-solid fa-star"></i> Highlights</a></li>
        <li><a href="#gallery"><i class="fa-solid fa-images"></i> Gallery</a></li>
        <li><a href="#pricing"><i class="fa-solid fa-indian-rupee-sign"></i> Pricing</a></li>
        <li><a href="#amenities"><i class="fa-solid fa-swimming-pool"></i> Amenities</a></li>
        <li><a href="#floor-plan"><i class="fa-solid fa-building"></i> Floor Plan</a></li>
        <li><a href="#location"><i class="fa-solid fa-location-dot"></i> Location</a></li>
        <!--<li><a href="#About"><i class="fa-solid fa-location-dot"></i> About</a></li>-->
        <!--<li class="brochure-btn mb-3 mb-lg-0" data-bs-toggle="modal" data-bs-target="#leadModal">-->
        <!--  <a href="#" class="py-2 py-lg-3" data-bs-toggle="modal" data-bs-target="#leadModal"><i class="bounce-arrow fa-solid text-white fa-download"  ></i> Download Brochure</a>-->
        <!--</li>-->
      </ul>
      <div class="hamburger" id="hamburger"><i class="fa-solid fa-bars"></i></div>
    </nav>
  </div>
</header>