<section class="hero">
  <!-- LEFT SIDE -->
  <div class="hero-left">
    <img src="images/banner.webp" class="active" />
    <img src="images/banner2-sm.webp" />
    <!--<img src="images/highlight.webp">-->

    <div class="hero-cta desktop">
      <!--<div class="head">Booking Open</div>-->
      <div class="body">
        <h3
          class="fw-bold fs-3 text-center mt-2"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
        >
          Solcrest
        </h3>
        <p
          class="text-center fw-bold"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
          data-aos-delay="100"
        >
          Off Hennur Road, Bangalore
        </p>
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-0 p-2"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
          data-aos-delay="200"
          style="background-color: #eeeeee; border-radius: 4px"
        >
          <p class="mb-0">Book Window Now Opens</p>
          <p class="mb-0">Panoramic Wraparound Balconies</p>
          <p class="mb-0">9.3-Acre High-Rise Community</p>
        </div>

        <ul>
          <li
            data-aos="fade-right"
            data-aos-anchor=".hero-left"
            data-aos-delay="300"
          >
            <i class="fa-solid fa-check"></i>
            East & West Vastu Oriented Homes
          </li>
          <li
            data-aos="fade-right"
            data-aos-anchor=".hero-left"
            data-aos-delay="400"
          >
            <i class="fa-solid fa-check"></i>
            No Shared Walls With Enhanced Privacy
          </li>
          <li
            data-aos="fade-right"
            data-aos-anchor=".hero-left"
            data-aos-delay="500"
          >
            <i class="fa-solid fa-check"></i>
            100% Corner Units & Panoramic Views
          </li>
        </ul>
        <div
          class="fs-6 text-center fs-5"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
          data-aos-delay="600"
        >
          2,3,3.5 & 4 BHK Luxury Apartments
        </div>
        <div
          class="price"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
          data-aos-delay="700"
        >
          ₹1.46 Cr* Onwards
        </div>

        <button
          class="orbit-btn center-btn"
          data-aos="fade-up"
          data-aos-anchor=".hero-left"
          data-aos-delay="800"
          data-bs-toggle="modal"
          data-bs-target="#leadModal"
        >
          <span
            ><i class="bounce-arrow fa-solid text-white fa-download"></i>
            Enquire Now</span
          >
        </button>
      </div>
    </div>
  </div>
</section>
