<div class="mobile-cta d-md-none">
  <a href="tel:+919596286287" class="cta call">
  <i class="fa-solid fa-phone"></i>
  <span>Call Now</span>
</a>


  <a href="#enquire" class="cta enquire" data-bs-toggle="modal" data-bs-target="#leadModal">
    <i class="fa-solid fa-pen-to-square"></i>
    <span>Enquire</span>
  </a>

 <a href="https://wa.me/919596286287?text=Hi+Solcrest+Team%2C+I+am+interested+in+Solcrest%2C+please+share+the+project+details."
   target="_blank"
   class="cta whatsapp d-flex align-items-center justify-content-center">
  <i class="fa-brands fa-whatsapp fs-5"></i>
  <span>WhatsApp</span>
</a>
</div>