<section id="overview" class="about-section">
          <div class="container">
            <div class="row align-items-center">
              
              <!-- Left Content -->
              <div class="col-lg-12">
                <h2 class="section-title text-green">About Solcrest</h2>
        
             <p>Solcrest by Bricks & Milestone is an exclusive residential development designed for those seeking a refined lifestyle that blends contemporary architecture, premium amenities, and everyday convenience. Thoughtfully planned residences offer spacious layouts, elegant interiors, and a comfortable living environment, while the project’s modern infrastructure and lifestyle amenities create a well-rounded community experience. With a focus on quality, privacy, and sophisticated urban living, Solcrest is positioned as an ideal choice for discerning homebuyers looking for a premium address with strong lifestyle appeal.</p>
        
                    
        
                <a href="javascript:void(0)"
                   class="btn btn-brochure orbit-btn"
                   data-bs-toggle="modal"
                   data-bs-target="#leadModal">
                  <i class="bounce-arrow fa-solid text-white fa-download px-2"></i> Request Brochure
                </a>
        
              </div>
        
               
              <div class="col-lg-6 text-lg-end mt-4 mt-lg-0 d-flex d-lg-none">
                <div class="image-wrapper">
                  <img src="images/overview.webp" alt="
              Solcrest              Room" class="img-fluid">
                </div>
              </div>
        
            </div>
          </div>
          <style>
              .about-section {
          padding: 70px 0;
          background: #f6f3ee;
        }
        @media (max-width: 768px) {
             .about-section {
          padding: 30px 0 0 0;
          background: #ffffff;
        }
        }
        .w-25 {
            width: 40%!important;
        }
        @media (max-width:768px) {
            .w-25 {
            width: 50%!important;
        }
        }
        /*section {*/
        /*    max-width: 1200px;*/
        /*    margin: 0 auto;*/
        /*}*/
        .section-title {
          font-size: 28px;
          font-weight: 700;
          color: #6a8f00;
          margin-bottom: 20px;
        }
        
        .section-text {
          font-size: 15px;
          line-height: 4;
          color: #333;
          margin-bottom: 15px;
        }
        
        .btn-brochure {
          display: inline-flex;
          align-items: center;
          background: linear-gradient(
    90deg,
    var(--brand-purple),
    var(--birla-blue),
    var(--brand-purple)
  );

  background-size: 300% 100%;
  animation: waveMix 4s ease-in-out infinite;
          color: #fff;
          padding: 12px 28px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s ease;
        }
        
        .btn-brochure:hover {
          background: #5a7a00;
          color: #fff;
        }
        
        .image-wrapper {
          position: relative;
          padding: 5px;
        }
        
        /*.image-wrapper::after {*/
        /*  content: "";*/
        /*  position: absolute;*/
        /*  right: -10px;*/
        /*  bottom: -10px;*/
        /*  width: 100%;*/
        /*  height: 100%;*/
        /*  border: 2px solid #cfd8dc;*/
        /*  z-index: -1;*/
        /*}*/
        
        .image-wrapper img {
          border-radius: 6px;
        }
        
          </style>
        </section>